@import "tailwindcss";
@plugin "@tailwindcss/forms" {
	strategy: "class";
}
@plugin "@tailwindcss/typography";

@theme {
	--color-foreground: oklch(95.94% 0.02 250.38);
	--color-background: oklch(99.11% 0 0);
	--color-primary: oklch(55.26% 0.204 257.95);
	--color-primary-dark: oklch(0.5 0.2455 262.87);
	--color-copy: oklch(0.2099 0.0341 263.44);
}
